.aboutPage {
    max-width: var(--max-width);
    margin: 0 auto;
}

.aboutPageTitle {
    padding-top: 1rem;
    font-size: clamp(28px, 3vw, 40px);
    line-height: 1.1;
    letter-spacing: 0.1em;
    color: var(--color-text);
    text-align: center;
}

.aboutSection {
    display: flex;
}

@media (max-width: 900px) {
    .aboutSection {
        display: grid;
        grid-template-columns: 1fr;
    }
}
