:root {
  --max-width: 1200px;
  --font-heading: "Shadows Into Light", cursive;
  --font-body: "Playpen Sans Deva", sans-serif;
  --color-soft-white: #F8F9FF;
  --color-text: #F4EEFF;
  --color-text-dark: #704FF0;
  --color-link: #DCD6F7;
  --color-bg-light: #A6B1E1;
  --color-bg-dark: #424874;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
    margin: 0;
    font-family: var(--font-body);
    line-height: 1.5;
}